* {
    background-color: slategray;
}

body {
    display: flex;
    justify-content: flex-start;
}

#mainBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    border: 1px solid black; 
}


.rowDiv{
    display: flex;
    /* border: 1px solid black; */
}

.boxDiv {
    min-width: 20px;
    min-height: 20px;
    border: 1px solid black;
}

.marked {
    background-color: black;
}